html{
	background-image: url("Textured-Stripes-Grey-Seamless-Patterns-For-Website-Background.jpg")
	background-repeat: repeat;
}

body{
 	
 	font-family: 'Josefin Sans', sans-serif;

 }
 h5, h3, h4{
 	font-family: 'Josefin Sans', sans-serif;
 	font-weight: bold;
 }
 .search_header{
 	background: #009688;
	border-radius: 4px 4px 0 0;
	height: 40px;
	color: white;
	padding: 4px;
	padding-left: 2%;
 }
 .container{
 	display: inline-block;
 }
 .navbar-nav{
    color: white;
    background-color: #00796B;
    width: 100%;
}
#nav-items li{
	vertical-align: bottom;
}
.navbar-brand{
	color: white;
}
#nav-items a{
	color: white;
	margin-top: 10px;
}
.day_buttons button{
	border-radius: 50%;
	background: #ee6e73;
	border: none;
	color: white;
	margin: 2px;
	width: 30px;
	height: 30px;
	padding-top: 5px;
	border: 1px solid #a64d50;
}
div.day_buttons{
	// vertical-align: center;
	background: #009688;
	border-radius: 4px 4px 0 0;
	height: 40px;
	padding-top: 2px;
}

.day_buttons ul{
	padding-left: 2%;
}
.day_buttons ul li{
	list-style-type: none;
	display: inline-block;
}
.search{
	background: #B2DFDB;
	display: inline-block;
	float: right;
	//margin-bottom: 5%;
	margin: 3%;

	// padding: 2%;
	border-radius: 4px;
	width: 95%;
	height: 30vh;
	#search_contents{
		padding-left: 2%;
	}

}
.itinerary{
	background: #B2DFDB;
	display: inline-block;
	float: right;
	margin: 3%;
	border-radius: 4px;
	clear: both;
	width: 95%;
	height: 50vh;

	#plans_contents{
		padding-left: 2%;
	}
}
#map{
	width: 75%;
	box-sizing: border-box;
	display: inline-block;
	height: 100vh;

}
.content{
	width: 25%;
	box-sizing: border-box;
	display: inline-block;
	float: right;
}